{% include '/Layout/layout_admin.twig' %}

<div class="container">

    {% if not comments %}

        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <h4 class="alert-heading"><i class="fas fa-times-octagon"></i> Erreur</h4>
            <hr>
            <small>- Aucun commentaire à afficher</small><br>
        </div>

    {% else %}

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Auteur</th>
            <th scope="col">Num article</th>
            <th scope="col">Commentaire</th>
            <th scope="col">Date</th>
            <th scope="col">Statut</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for comment in comments %}

        <tr>
            <td>{{ comment.id }}</td>
            <td>
                {% if comment.user %}
                    {{ comment.user.firstname|capitalize }} {{ comment.user.lastname|upper }}
                {% else %}
                    <span class="badge badge-dark">Anonyme</span>
                {% endif %}
            </td>
            <td><a href="?page=adminshowpost/{{ comment.idpost }}">{{ comment.idpost }}</a></td>
            <td>{{ comment.comment|truncate(20) }}</td>
            <td>{{ comment.createdate|date('d/m/Y H:i') }}</td>
            <td>
                {% if comment.idstatut == 1 %}
                    <span class="badge badge-warning"><i class="fas fa-clock"></i> Attente moderation</span>
                {% elseif comment.idstatut == 2 %}
                    <span class="badge badge-success"><i class="fas fa-check-circle"></i> Valide</span>
                {% elseif comment.idstatut == 3 %}
                    <span class="badge badge-danger"><i class="fas fa-ban"></i> Bloque</span>
                {% else %}

                {% endif %}
            </td>
            <td>
                <a class="btn btn-success" href="?page=validcomment/{{ comment.id }}" role="button"><i class="fas fa-check-circle"></i></a>
                <a class="btn btn-danger" href="?page=blockcomment/{{ comment.id }}" role="button"><i class="fas fa-ban"></i></a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endif %}
</div>