{% include 'Layout/layout.twig' %}

<div class="container">

    {% if errors %}

    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <h4 class="alert-heading"><i class="fas fa-times-octagon"></i> Erreur</h4>
        <hr>
        {% for error in errors %}
        <small>- {{ error }}</small><br>
        {% endfor %}
    </div>

    {% elseif message %}

        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <h4 class="alert-heading"><i class="fas fa-times-octagon"></i> Ok</h4>
            <hr>
                <small>- {{ message }}</small><br>
        </div>

    {% endif %}


    {% if user_data %} {# si utilisateur connecte sinon autre form #}

        <form method="POST" action="?page=contact">

            <label>Token CRSF</label>
            <input type="text" name="token_crsf" value="{% if token_crsf %}{{ token_crsf }}{% endif %}">

            <div class="form-row">
                <div class="col-md-6">
                    <!-- Nom -->
                    <label for="validationTooltip01">Nom</label>
                    <input type="text" class="form-control" id="validationTooltip01" placeholder="Nom" name="lastname" value="{% if user_data.lastname %}{{ user_data.lastname }}{% endif %}" readonly>
                </div>
                <div class="col-md-6">
                    <!-- Prenom -->
                    <label for="validationTooltip01">Prenom</label>
                    <input type="text" class="form-control" id="validationTooltip01" placeholder="Prenom" name="firstname" value="{% if user_data.firstname %}{{ user_data.firstname }}{% endif %}" readonly>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12">
                    <!-- Adresse email -->
                    <label for="validationTooltip01">Adresse email</label>
                    <input type="text" class="form-control" id="validationTooltip01" placeholder="Adresse email" name="mail" value="{% if user_data.mail %}{{ user_data.mail }}{% endif %}" readonly>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12">
                    <!-- Message -->
                    <label for="exampleFormControlTextarea1">Message</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="message">{% if contact_datas.message %}{{contact_datas.message}}{% endif %}</textarea>
                </div>
            </div>

            <input type="text" name="post_id" hidden value="{{ post.id }}">

            <br><button class="btn btn-primary" type="submit" name="btn_contact">Envoyer</button>
        </form>

    {% else %}

        <form method="POST" action="?page=contact">

            <label>Token CRSF: </label>
            <input type="text" name="token_crsf" value="{% if token_crsf %}{{ token_crsf }}{% endif %}">

            <div class="form-row">
                <div class="col-md-6">
                    <!-- Nom -->
                    <label for="validationTooltip01">Nom</label>
                    <input type="text" class="form-control" id="validationTooltip01" placeholder="Nom" name="lastname" value="{% if contact_datas.lastname %}{{ contact_datas.lastname }}{% endif %}">
                </div>
                <div class="col-md-6">
                    <!-- Prenom -->
                    <label for="validationTooltip01">Prenom</label>
                    <input type="text" class="form-control" id="validationTooltip01" placeholder="Prenom" name="firstname" value="{% if contact_datas.firstname %}{{ contact_datas.firstname }}{% endif %}">
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12">
                    <!-- Adresse email -->
                    <label for="validationTooltip01">Adresse email</label>
                    <input type="text" class="form-control" id="validationTooltip01" placeholder="Adresse email" name="mail" value="{% if contact_datas.mail %}{{ contact_datas.mail }}{% endif %}">
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12">
                    <!-- Message -->
                    <label for="exampleFormControlTextarea1">Message</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="message">{% if contact_datas.text %}{{ contact_datas.text }}{% endif %}</textarea>
                </div>
            </div>

            <input type="text" name="post_id" hidden value="{{ post.id }}">

            <br><button class="btn btn-primary" type="submit" name="btn_contact">Envoyer</button>
        </form>

    {% endif %}
</div>